@import "mixins";
@import "variables";

body {
  background-color: #b1bbb9;
}

.spacer {
  display: inline-block;
  width: 10rem;
  height: 50rem;
  background: transparent;
}

.sectionTwo {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three" "four five six" "seven eight nine";
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  justify-self: center;
  justify-items: center;
  align-items: center;
  width: 17rem;
  height: 20rem;
  border: solid;
  border-width: 0.3rem;
  border-color: black;
}

.summonTiles {
  > div {
    transform-style: preserve-3d;
    transition: transform 0.8s;

    &.tile {
      &__one {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.4s,
          0.4s
        );
        @include before(
          rotate3d(-1, 1, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem,
          "Please"
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(-1, 1, 0, -180deg);
        }
      }

      &__two {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.3s,
          0.3s
        );
        @include before(
          rotate3d(1, 0, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(-1, 0, 0, -180deg);
        }
      }

      &__three {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.4s,
          0.4s
        );
        @include before(
          rotate3d(1, 1, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem,
          "Hire"
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(1, 1, 0, -180deg);
        }
      }

      &__four {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.25s,
          0.25s
        );
        @include before(
          rotate3d(0, 1, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(0, 1, 0, -180deg);
        }
      }

      &__five {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.2s,
          0.2s
        );
        @include before(
          rotate3d(1, 0, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem,
          "Me"
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(1, 0, 0, -180deg);
        }
      }

      &__six {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.25s,
          0.25s
        );
        @include before(
          rotate3d(0, 1, 0, -180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      }

      &__seven {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.35s,
          0.35s
        );
        @include before(
          rotate3d(-1, -1, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(-1, -1, 0, -180deg);
        }
      }

      &__eight {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.3s,
          0.3s
        );
        @include before(
          rotate3d(1, 0, 0, 180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(1, 0, 0, -180deg);
        }
      }

      &__nine {
        @include summonTileProperties(
          translate(0rem, 0rem),
          5rem,
          6rem,
          0.35s,
          0.35s
        );
        @include before(
          rotate3d(1, -1, 0, -180deg),
          $redPink,
          5rem,
          6rem,
          0.7rem,
          ":)"
        );
        @include summonAfter($teilGreen, 5rem, 6rem, 0.7rem);

        &:hover {
          transform: rotate3d(1, -1, 0, 180deg);
        }
      }
    }
  }
}

.dismissTiles {
  > div {
    transform-style: preserve-3d;
    transition: transform 0.8s;

    &.tile {
      &__one {
        @include dismissAfter();
        @include dismissTileProperties(translate(-30rem, -15rem), 0.2s, 0.2s);
      }

      &__two {
        @include dismissAfter();
        @include dismissTileProperties(translate(0rem, -15rem), 0.3s, 0.3s);
      }

      &__three {
        @include dismissAfter();
        @include dismissTileProperties(translate(30rem, -15rem), 0.2s, 0.2s);
      }

      &__four {
        @include dismissAfter();
        @include dismissTileProperties(translate(-30rem, 0rem), 0.35s, 0.35s);
      }

      &__five {
        @include dismissAfter();
        @include dismissTileProperties(translate(0rem, 0rem), 0.4s, 0.4s);
      }

      &__six {
        @include dismissAfter();
        @include dismissTileProperties(translate(30rem, 0rem), 0.35s, 0.35s);
      }

      &__seven {
        @include dismissAfter();
        @include dismissTileProperties(translate(-30rem, 15rem), 0.25s, 0.25s);
      }

      &__eight {
        @include dismissAfter();
        @include dismissTileProperties(translate(0rem, 15rem), 0.3s, 0.3s);
      }

      &__nine {
        @include dismissAfter();
        @include dismissTileProperties(translate(30rem, 15rem), 0.25s, 0.25s);
      }
    }
  }
}

.tile {
  &__one {
    @include tileProperties(translate(-30rem, -15rem), one);
  }

  &__two {
    @include tileProperties(translate(0rem, -15rem), two);
  }

  &__three {
    @include tileProperties(translate(30rem, -15rem), three);
  }

  &__four {
    @include tileProperties(translate(-30rem, 0rem), four);
  }

  &__five {
    @include tileProperties(translate(0rem, 0rem), five);
  }

  &__six {
    @include tileProperties(translate(30rem, 0rem), six);
  }

  &__seven {
    @include tileProperties(translate(-30rem, 15rem), seven);
  }

  &__eight {
    @include tileProperties(translate(0rem, 15rem), eight);
  }

  &__nine {
    @include tileProperties(translate(30rem, 15rem), nine);
  }
}
